<div class="splash container mt-4">
	<div class="is-flex justify-content-center">
    <%= image_tag("galleryappLogo.png", class: "m-auto", id: "gallery-logo") %>
	</div>
	<div class="btn-1 flex flex-col gap-2">
		<%= link_to 'Log in', new_user_session_url, class: "btn log-in" %>
	  <%= link_to 'Sign up', new_user_registration_url, class: "btn log-out" %>
	</div>
</div>