<div class="container">
	<div class="is-flex justify-content-center">
    <%= image_tag("galleryappLogo.png", class: "m-auto", id: "gallery-logo") %>
    <div>
      <p class="text-center">Welcome to Ngeni.io Gallery-App</p>
    </div>
	</div>
	<div class="btn-1 flex flex-col">
		<%= link_to 'Log in', new_user_session_url, class: "btn log-in" %>
	  <%= link_to 'Sign up', new_user_registration_url, class: "btn log-out" %>
	</div>
</div>
